# =========================
# DEPENDENCIAS
# =========================
node_modules/


# Variables privadas
.env
.env.*

# Permitir el ejemplo público
!.env.example

# =========================
# BASE DE DATOS / BACKUPS
# =========================
Backups/
*.bak


# =========================
# LOGS
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log


# =========================
# SISTEMA OPERATIVO
# =========================
.DS_Store
Thumbs.db


# =========================
# EDITORES
# =========================
.vscode/